/* Esto hace que el scroll hacia las secciones sea suave */
html{
    scroll-behavior: smooth;
    /* Sirve para que cuando se haga scroll hacia una seccion
    el navbar no tape cosas de la pagina */
    scroll-padding-top: 65px;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: red;
    /* Para que no me tape justamente el navbar */
    top: 65px;
    left: 0;
    /* Esto son capas, queremos que tape todo menos el carro
    por lo tanto a este le vamos a asignar la capa 1 mientras que 
    al carro le vamos a asignar la capa 2 */
    /* Voy hacer lo mismo para el menu */
    z-index: 1;
    background: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 
        0 8px 32px rgba(0, 0, 0, 0.1),
        inset 0 1px 0 rgba(0, 0, 0, 0.5),
        inset 0 -1px 0 rgba(0, 0, 0, 0.1),
        inset 0 0 0px 0px rgba(255, 255, 255, 0);
    overflow: hidden;
    display: none;
}

#carrito-toggle:checked ~ .overlay{
    display: block;
}

#menu-toggle:checked ~ .overlay{
    display: block;
}


/* Animaciones */

/* Para la opacidad */
@keyframes fade{
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* Desplazamiento vertical desde abajo hacia arriba*/
@keyframes slide-up{
    from{
        transform:translateY(100px);
    }
    to{
        transform:translateY(0);
    }
}

/* Desplazamiento horizontal */
@keyframes slide-right{
    from{
        transform:translateX(100px);
    }
    to{
        transform: translateX(0);
    }
}

/* Animacion al h1 de hero-info */
.hero-info h1{
    /* la animacion que queres usar, el tiempo, el tipo */
    animation: fade 1s ease, slide-up 1.3s ease;
}

/* Animacion al parrafo (p) del hero-info */
.hero-info p{   
    opacity: 0;
    /* El fowards es para indicar que el elemento se va a quedar
    en el 'estado' de to */
    animation: fade 1s ease forwards, slide-up 1.3s ease;
    /* animation-delay: 0.3s; */
}

.hero-card{
    opacity: 0;
    animation: fade 1.2s ease forwards, slide-right 1.2s ease-in-out;
    animation-delay: 0.2s;
}

/* Animacion del boton */
.hero-info a{
    opacity: 0;
    /* El fowards es para indicar que el elemento se va a quedar
    en el 'estado' de to */
    animation: fade 1s ease forwards, slide-up 1.3s ease;
    /* animation-delay: 0.3s; */
}

/* Animaciones para la seccion de info */
#info h1{
    opacity: 0;
    animation: fade 1.2s ease forwards, slide-up 1.2s ease-in-out;
    /* animation-delay: 0.1s; */
}

/* Si quisiera hacer animaciones en las 3 cards que estan dentro del info
puedo hacerlo usando la pseudoclase nth-child, el cual me permite referenciar
a los elementos hijos que se encuentran dentro del contenedor padre,
nth-child(1) es para hacer referencia al primer hijo, (2) al segundo, etc */

/* Animaciones para img de cards de product */
.productos-card1 img{
    transition: all 0.3s linear;
}
.productos-card1 img:hover{
    /* Hace que la imagen se agrande 1.02 de su escala */
    scale: 1.02;
}

/* Animacion de typing (donde esta la palabra Crypto) */
@keyframes blink{
    to{
        background: transparent;
        opacity: 0;
    }
}

@keyframes typewriter{
    to{
        left: 100%;
    }
}

.hero-info h1 span{
    position: relative;
    background: #01578c;
    background: linear-gradient(90deg,rgba(1, 87, 140, 1) 0%, rgba(4, 127, 194, 1) 73%, rgba(0, 112, 181, 1) 100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.hero-info h1 span::before,
.hero-info h1 span::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


