/* Comienzo de las mediaqueries */
/* Significa que desde 0px hasta 992px se van a aplicar todos
los estilos que coloque en esta @media */
/* MEDIDA PARA TABLET */
@media (max-width: 992px){

    .navbar{
        gap: 15px;
    }
    /* Esta parte del navbar (Home,Descubre,etc) tiene que verse de 
    otra forma cuando estamos en tablet y/o mobile, por lo tanto vamos 
    a modificarlo*/
    .navbar-list{
        /* Esto es para sacarlo del flujo del documento (es decir,
        ya no ocupa espacio como los elementos comunes)*/
        position: absolute;
        top: 65px;
        width: 90%;
        border: 2px solid rgba(0, 41, 61, 1);
        border-top: 0;
        left: 5%;
        right: 5%;
        /* Ni hace falta que le ponga el display:flex, ya que todo esto
        eso se esta heredando desde el style.css, por lo tanto solo coloco
        lo que necesito */
        flex-direction: column;
        background-color: #151615;
        /* Arriba a la derecha, arriba a la izquierda, abajo a la derecha, abajo a la izquierda */
        border-radius: 0px 0px 15px 15px;
        padding: 40px 30px;
        align-items: flex-start;
        gap: 15px;
        transform: translateX(-200%);
        transition: all 0.5s ease;
    }

    .navbar-list a{
        font-size: 17px;
    }

    .menu-label{
        display: flex;
        cursor: pointer;
        order: 2;
    }

    .menu-label img{
        width: 25px;
        height: 20px;
    }

    #menu-toggle:checked + .navbar-list{
        transform: translateX(0);
    }

    .hero-info{
        /* width: 100%; */
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 30px;
        /* background-color: red; */
    }

    .hero-info h1{
        width: 90%;
        max-width: 500px;
    }

    .hero-card{
        display: none;
    }

    #info{
        width: 100%;
    }

    #info h1{
        text-align: center;
    }

    .info-cards-container {
        width: 100%;
        max-width: 90%;
        flex-wrap: wrap;
        justify-content: center;
    }

    /* Descubre  */

    .discover-info{
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 20px;
        width: 70%;
        margin-top: -40px;
    }

    .discover-text{
        flex-direction: column;
        align-items: center;
    }

    .discover-cards{
        flex-direction: column;
    }

    .discover-cards img{
        width: 80%;
    }

    /* Productos */
    .products-categorias {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .products-productos{
        justify-content: center;
    }    
}

@media (max-width: 576px ) {
    .carrito-contenedor{
        width: 100%;
        left: 0;
        border: none;
    }

    .carrito-items{
        flex-wrap: wrap;
    }

    .hero-info{
        width: 100%;
    }

    .hero-info .hero-info-h1 {
        width: 90%;
        min-width: unset;
        font-size: 32px;
        line-height: 40px;
    }

    .discover-info{
        width: 100%;
    }

    .discover-info h3{
        width: 80%;
        min-width: unset;
        font-size: 25px;
        text-align: center;
    }

    .navbar-list{
        /* Esto es para sacarlo del flujo del documento (es decir,
        ya no ocupa espacio como los elementos comunes)*/
        position: absolute;
        top: 65px;
        width: 90%;
        border: 2px solid rgba(0, 41, 61, 1);
        border-top: 0;
        left: 5%;
        right: 5%;
        /* Ni hace falta que le ponga el display:flex, ya que todo esto
        eso se esta heredando desde el style.css, por lo tanto solo coloco
        lo que necesito */
        flex-direction: column;
        background-color: #151615;
        /* Arriba a la derecha, arriba a la izquierda, abajo a la derecha, abajo a la izquierda */
        border-radius: 0px 0px 15px 15px;
        padding: 40px 30px;
        align-items: flex-start;
        gap: 15px;
        transform: translateX(-200%);
        transition: all 0.5s ease;
    }

    .navbar-list a{
        font-size: 17px;
    }

    .menu-label{
        display: flex;
        cursor: pointer;
        order: 2;
    }

    .menu-label img{
        width: 25px;
        height: 20px;
    }

    #menu-toggle:checked + .navbar-list{
        transform: translateX(0);
    }

}