@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800;900&display=swap');

/* Reseteo de las variables */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

/* Definicio de variables */
:root{
    --background: #131415;
    --primary: #1e50ff;
    --secondary: #272d37;
    --btn-lg: #050d26;
    --bg-azul-10: #e9eeff;
    --bg-white: #fff;
    --bg-electric: #f0fbff;
    --nav-bg: #0f1525;

    /* Text colors */
    --text-gray: #adb9c7;
    --text-white: #f3f4f6;

    /* Decoracion */
    --fire: #ff6d00;
    --electric: #64d3ff;
}

/* Body */
body{
    background-color: var(--background);
}

/* Header */
header{
    display: flex;
    background-color: var(--secondary);
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px 0px 30px;
    /* height: 10vh; */
    height: 65px;
    position: fixed;

}

.navbar, 
.navbar-list{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 1rem = 16px */
.navbar{
    gap: 4.5rem;
}

.navbar-list{
    gap: 1rem;
}

.navbar-list a{
    color: var(--text-gray);
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 0.9rem;
}

.navbar-list li:first-child a{
    font-weight: 600;
    color: var(--text-white);
}

.navbar-list a:hover{
    padding: 0px 2px;
}

.cart-icon{
    cursor: pointer;
    height: 20px;
}
/* Fin del header */

/* Comienzo del section 1 */

main{
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
}

#hero{
    max-width: 1200px;
    margin-top: 65px;
    padding: 70px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
}

#hero .hero-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.hero-info-h1{
    font-size: 48px;
    line-height: 59px;
    font-weight: 800;
    background: #9840b8;
    background: radial-gradient(circle,rgba(152, 64, 184, 1) 25%, rgba(89, 99, 212, 1) 100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    width: 80%;
}



/* #hero .hero-info{
    color: white;
} */





